:root {
    --styling-headings: Tektur, Georgia, serif;
    --styling-paragraph: Raleway, Georgia, sans-serif;
    --Principal-Color: #F6F0FA;
    --Secondary-color: #cdc1d7;
    --Accent1-color: #271939;
    --Accent2-color: #0C2032;
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 30px;
    background-color: var(--Secondary-color);
    padding: 30px;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
}

header nav {
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    color: var(--Accent2-color);
}

header img{
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
}

header nav a.link1{
    align-self: center;
    border: 1px solid black;
    padding: 5%;
    background-color: var(--Principal-Color);
}

header nav a.link2{
    align-self: center;
    border: 1px solid black;
    padding: 5%;
    background-color: var(--Principal-Color);
}

header nav a.link3{
    align-self: center;
    border: 1px solid black;
    padding: 5%;
    background-color: var(--Principal-Color);
}

header nav a.link4{
    align-self: center;
    border: 1px solid black;
    padding: 5%;
    background-color: var(--Principal-Color);
}
/*Here is index*/

article.I{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(246, 240, 250, .50);
    padding: 1rem;
    text-align: center;
    color: var(--Accent1-color) ;
    font-family: var(--styling-headings);
}
main div a.hero_link{
    position: absolute;
    align-self: center;
    top: 200px;
    width: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--Secondary-color);
    border: 1px solid black;
    padding: 2%;
    text-align: center;
    color: var(--Accent1-color) ;
    font-family: var(--styling-headings);
}

#trips{
    display: grid;
    grid-template-columns: 45% 47%;
    background-color: var(--Principal-Color);
    grid-gap: 30px;
    padding: 10px;
}

#trips div.ih1{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
}

#trips div.ih2{
    grid-column: 2/2;
    grid-row: 1/2;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
}

#trips div.img1{
    grid-column: 1/2;
    grid-row: 3/3;
    text-align: center;
}

#trips div.img2{
    grid-column: 2/2;
    grid-row: 3/3;
    text-align: center;
}

#trips p.ip1{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-paragraph);
}

#trips p.ip2{
    grid-column: 2/2;
    grid-row: 2/3;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-paragraph);
}
/*Here end index*/

/*Here is about*/

#hero {
    position: relative;
}

#hero img{
    width: 100%;
    color: var(--Accent1-color);

}

#hero article img {
    width: 200px;
    float: right;
}

article.Aa{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(246, 240, 250, .50);
    padding: 1rem;
}

h1.A{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(246, 240, 250, .50);
    color: var(--Accent1-color);
}

#history{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px;
    background-color: var(--Secondary-color);
    padding: 10px;
    color: var(--Accent2-color)
}

#history h2{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#history p.start{
    grid-column: 1/3;
    grid-row: 2/2;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#history p.end{
    grid-column: 3/3;
    grid-row: 2/2;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#history img{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/2;
    align-self: center;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}

#pictures{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 30px;
    background-color: var(--Principal-color);
    padding: 10px;
}

#pictures h2{
    grid-column: 3/5;
    grid-row: 1/2;
}

#pictures figure{
    grid-row: 2/2;
}

#pictures figure figcaption {
    background-color: var(--Secondary-color);
    color: var(--Accent2-color);
    text-align: center;
  }
  
/*Here end about*/

/*Here is trips*/

main div a.trips_link{
    position: absolute;
    align-self: center;
    top: 200px;
    width: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--Secondary-color);
    border: 1px solid black;
    padding: 2%;
    text-align: center;
    color: var(--Accent1-color) ;
    font-family: var(--styling-headings);
}

#trips_trips{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    background-color: var(--Principal-Color);
    grid-gap: 30px;
    padding: 10px;
}

#trips_trips h3.th1{
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
    text-align: center;
}

#trips_trips h3.th2{
    grid-column: 2/3;
    grid-row: 1/2;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
    text-align: center;
}

#trips_trips h3.th3{
    grid-column: 3/4;
    grid-row: 1/2;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
    text-align: center;
}

#trips_trips h3.th4{
    grid-column: 4/4;
    grid-row: 1/2;
    color: var(--Accent2-color) ;
    font-family: var(--styling-headings);
    text-align: center;
}

#trips_trips div.tmg1{
    grid-column: 1/2;
    grid-row: 3/3;
    text-align: center;
}

#trips_trips div.tmg2{
    grid-column: 2/3;
    grid-row: 3/3;
    text-align: center;
}

#trips_trips div.tmg3{
    grid-column: 3/4;
    grid-row: 3/3;
    text-align: center;
}

#trips_trips div.tmg4{
    grid-column: 4/4;
    grid-row: 3/3;
    text-align: center;
}

#trips_trips p.tp1{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-paragraph);
}

#trips_trips p.tp2{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-paragraph);
}

#trips_trips p.tp3{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-paragraph);
}

#trips_trips p.tp4{
    grid-column: 4/4;
    grid-row: 2/3;
    text-align: center;
    color: var(--Accent2-color) ;
    font-family: var(--styling-paragraph);
}

table {
    border-collapse: collapse;
    border: 2px solid #000000;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
thead{
    background-color: var(--Secondary-color);
    font-family: var(--styling-headings);
}
  
th, td {
    border: 2px solid #000000;
    padding: 5px 5px;
    font-family: var(--styling-headings);
}

/*Here end trips*/

/*Here is contact page*/

#introduccion {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    grid-gap: 30px;
}

#introduccion article img {
    width: 200px;
    float: right;
}

#information article.Ca{
    top: 100px;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem;
    color: var(--Accent2-color);
    font-family:var(--styling-paragraph)
}

#information h1.C{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--Accent1-color);
    font-family:var(--styling-headings)
}

#information{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
    background-color: var(--Secondary-color);
    padding: 10px;
    color: var(--Accent2-color)
}

#information h2{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-family:var(--styling-headings)
}

#information h3.address{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family:var(--styling-paragraph)
}

#information h3.Phone{
    grid-column: 2/2;
    grid-row: 1/3;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family:var(--styling-paragraph)
}

#information h3.Email{
    grid-column: 2/2;
    grid-row: 2/3;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family:var(--styling-paragraph)

}

#information h3.Map{
    grid-column: 1/2;
    grid-row: 3/3;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:var(--styling-headings);
}

#information iframe{
    width: 90%;
    grid-column: 2/2;
    grid-row: 3/3;
    align-self: center;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}

#pictures_c{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 30px;
    background-color: var(--Principal-color);
    padding: 10px;
}

#pictures_c h2{
    grid-column: 1/4;
    grid-row: 1/2;
    font-family:var(--styling-headings)
}

#pictures_c figure{
    grid-row: 2/2;
}

#pictures_c figure figcaption {
    background-color: var(--Secondary-color);
    color: var(--Accent2-color);
    font-family:var(--styling-paragraph);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color:var(--Secondary-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    font-family:var(--styling-headings)
    }

legend {
    padding: 0.5rem;
    color: var(--Accent1-color);
    font-size: 1.3em;
    }

label {
    text-align: right;
    padding-right: 1rem;
    color: var(--Accent2-color);
    font-family:var(--styling-paragraph);
    }

input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    }

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    }

button {
    margin: 1rem;
    background-color:var(--Principal-Color);
    color:var(--Accent1-color);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font-family:var(--styling-headings);
    }
  
button:hover {
    background-color: rgb(29, 16, 218);
    }

/*Here end*/

footer{
    grid-gap: 10px;
    background-color: var(--Secondary-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 18% 20% 18% 22% 18%;
}

footer p{
    grid-column: 3/5;
}

footer div{
    grid-column: 5/5;
    display: flex;
    justify-content: flex-end;
}